<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>luv2code Company Home Page</title>
</head>
<body>
    <h2>luv2code Company Home Page - Test 1</h2>

<hr>
<p>
    Welcome to the luv2code company home page
</p>

    <hr>
<!--    Displaying username and role-->
    <p>
        User: <span sec:authentication="principal.username"></span>
        <br></br>
        Role: <span sec:authentication="principal.authorities"></span>
    </p>

    <hr>
<!--        link to point to /leaders-->
    <div sec:authorize="hasRole('MANAGER')">
        <p>
            <a th:href="@{/leaders}">Leadership meeting</a>
            (Only for manager peeps)
        </p>
    </div>

<!--    link to point to /systems-->
    <div sec:authorize="hasRole('ADMIN')">
        <p>
            <a th:href="@{/systems}">IT systems meeting</a>
            (Only for admin peeps)
        </p>
    </div>

<!--Logout-->
<form action="#" th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout" />
</form>

</body>
</html>